html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    width: 100%;
    height: 100vh;
    max-width: 1024px;
    max-height: 600px;
    overflow: hidden;
    box-sizing: border-box;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    max-height: 600px;
    width: 100%;
    max-width: 1024px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}
